*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero
{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* background: linear-gradient(45deg,#0f0e0e, #A890FE); */
    color: #fff;
    position: absolute;
    z-index: -1;
}

.container
{
    width: 800px;
    height: 200px;
    position: absolute;
    border-radius: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.clock
{
    width: 100%;
    height: 100%;
    /* background: rgba(195, 33, 195, 0.15); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clock span
{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* .box
{
  background-color: rgb(222, 213, 213);
  height: 34px;
  width: 45px;
  color: white;
  animation: mover 1s ease-in-out;
  animation-iteration-count: infinite;
  margin-left: 200px;
}

@keyframes mover {
    from{
    }
    to
    {
        transform: translateY(1000px);

    }
} */




    


