.container
{
  border: 2px solid purple;
  display: flex;
  height: 80vh;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;  
 /* flex-direction: column-reverse;*/
 flex-direction: row;
/* flex-wrap: wrap; */

 /*flex-wrap: wrap-reverse; */

 /*There is no justify items in flex box */

 /* We us align items when we have only one line */
 /* we use align content when we have multiple lines*/

 /*flex flow*/
 /*flex-flow: row row-reverse;*/
  /*flex-flow: row wrap;*/

  /*gap*/
 /*gap: 30px;*/

 /* gap between column and row */
 /*
 column-gap: 10px;
 row-gap: 10px ; */

 /* gap shorthand of row and column*/
 gap: 10px 20px;

}


/* item properties */
.item
{
   /* flex-grow: 1;*/
    height: 52px;
    width: 52px;
    background-color: purple;
    border: 2px solid black;
  /*  margin: 4px;*/
    color: white;
}

.order-1
{
  order: 1;
}

.order-2
{
  order: 2;
}

.order-3
{
  order: 3;
}

.item2
{
    /*flex-grow: 3; */
    flex-shrink: 2;
    align-self: flex-end;
}
